{% extends 'base.html.twig' %}

{% block title %}Новый урок / StudyOn{% endblock %}

{% block body %}
    <h1>Создать новый урок</h1>

    {{ include('lesson/_form.html.twig') }}

    {% if lesson.course %}
        <p>
            <a href="{{ path('app_course_show', {'id': lesson.course.id}) }}">Вернуться к курсу</a>
        </p>
    {% else %}
        <p>
            <a href="{{ path('app_course_index') }}">Вернуться к списку курсов</a>
        </p>
    {% endif %}
{% endblock %}
