{% extends "base.html.twig" %}

{% block title %}403 / Доступ запрещен{% endblock %}

{% block body %}
    <h1>Доступ запрещен</h1>
    <p>У вас нет прав для просмотра содержимого</p>
    <p><a href="{{ path('app_course_index') }}"> Вернуться к списку курсов</a></p>
{% endblock %}
